.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: right;
  margin: 10px;
  padding: 0;
  height: 50px;
}

.menu li {
  margin: 0 10px;
}

.menu li a {
  position: relative;
  text-decoration: none;
}

.menu li a:hover:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #f3f1f1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.menu li a:hover:before {
  transform: scaleX(1);
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Cambria, serif;
}

.menu-logo {
  width: 80px; 
  height: 110px; 
  padding-left: 10px;
}

.footer {
  background-color: black;
  padding: 5px 0;
  position: relative;
  bottom: 0;
}

.footer img {
  width: 50px; 
  height: 50px; 
  margin-left: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
